body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: 'Poppins', sans-serif;
  color: white;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

nav {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  display: flex;
  gap: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content {
  padding: 100px 50px 50px 50px;
  z-index: 1;
  position: relative;
}
